body {
  background-color: black;
}

.question {
  /* Semi-transparent white */
  color: rgba(255, 255, 255, 0.5);

  /* Create drifting animation here or in index.js with 'd3' */
}

.active-question {
  /* Fully opaque white */
  color: rgba(255, 255, 255, 1);
}