body {
  background-color: black;
}

.question {
  /* Semi-transparent white */
  color: rgba(255, 255, 255, 0.5);
}

.active-question {
  /* Fully opaque white */
  color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TODO: Refine this drifting animation to bounce over entire screen */
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.question.drift {
  animation: drift 10s infinite linear;
}