@font-face {
  /* drop custom fonts in `./public/fonts/` */
  font-family: 'Wellfleet';
  src: url('../fonts/Wellfleet-Regular.ttf') format('truetype');
}


body {
  background-color: black;
  font-family: 'Wellfleet', sans-serif;
}



.question {
  font-size: 70px;
  animation: fadeInHalf ease-in-out 6s forwards;
  color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
}


.active-question {
  color: rgba(255, 255, 255, 1); /* Fixed & fully opaque */
  font-size: 90px;
  animation: fadeInOpaque ease-in-out 6s;


  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@keyframes fadeInHalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}


@keyframes fadeInOpaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TODO: Refine this drifting animation to bounce over entire screen */
/* @keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.question.drift {
  animation: drift 4s infinite linear;
} */