@font-face {
  font-family: 'Tatsuro';
  src: url('../fonts/VTCTatsuro/VTCTatsuro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/TiemposHeadline/TiemposHeadline-Regular.otf');
}

@font-face {
  font-family: 'Pitch';
  src: url('../fonts/PitchSans/PitchSans-Semibold.otf');
}


body {
  background-color: black;
  color: white;
  font-family: 'Wellfleet', sans-serif;
}

#container {
  text-align: center;
}

#heading {
  font-family: Tatsuro, sans-serif;
  font-size: 166px;
  margin: 0 auto;
  padding: 10px;
}

#subheading {
  font-family: Tiempos, sans-serif;
  font-size: 60px;
}

#input-form {
  text-align: center;
  margin: 0 auto;
}

input[type="text"] {
  font-family: 'Pitch', sans-serif;
  text-align: center;
  font-size: 36px;
  margin: 0 auto;
  padding: 18px 30px;
  border: 3px solid #ccc;
  width: 100%;
  max-width: 800px;
}

button {
  font-family: 'Pitch', sans-serif;
  display: block;
  cursor: pointer;
  font-size: 30px;
  margin: 20px auto;
  padding: 16px 36px;
}